#dashboardLayout {
    display: flex;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: auto;

    background-color: whitesmoke;

    aside {
        width: 240px;
        background-color: cadetblue;
        padding: 1rem;

        a {
            display: block;
            padding: 1rem 1rem;
            border-radius: 6px;
            color: white;
            text-decoration: none;
            transition: all 0.2s;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
            font-size: 24px;
            font-style: italic;

            text-align: center;
            &hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    @import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Great+Vibes&display=swap");

    #father {
        overflow: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    header {
        height: 80px;
        padding: 2rem 3rem;
        // background-color: white;
        font-family: "Covered By Your Grace", cursive;
        font-family: "Great Vibes", cursive;
        display: flex;

        color: ghostwhite;

        aside {
            background-color: #5b08a7;
            padding: 1rem;
            display: flex;
            a {
                display: block;
                padding: 1rem 1rem;
                border-radius: 6px;
                color: white;
                text-decoration: none;
                transition: all 0.2s;
                font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                    sans-serif;
                font-size: 24px;
                font-style: italic;
                text-align: center;
                display: flex;
                &hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
        .container {
            width: 160rem;
            overflow: auto;
            display: flex;
            justify-content: space-between;
            right: 200px;
            width: auto;
            height: auto;
        }

        .content {
            flex: 1;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                serif;
            display: flex;
        }
    }
    // #main{
    //   display: flex;
    //   justify-content: space-between;
    //   right:200px;
    //     width:auto;
    //     height: auto;

    // }

    // aside {
    //   width: 240px;
    //   background-color: #5b08a7;
    //   padding: 1rem;

    //   a {
    //     display: block;
    //     padding: 0.75rem 1rem;
    //     border-radius: 6px;
    //     color: white;
    //     text-decoration: none;
    //     transition: all 0.2s;

    //     &hover {
    //       background-color: rgba(0, 0, 0, 0.2);
    //     }
    //   }
    // }
}
