.ChannelImg{
    margin-top: 2%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
    
}
 
.backgr{
    
    background-color: black;
}
.text-danger{
    font-family: serif;
}
 
/* Add the following styles */
 .horizontal-container{
    z-index: 1;
 }
 .z-index {
    position: sticky;
    top: 0;
    background-color: black; /* Adjust the background color as needed */
    z-index: 100;
  }
  
  /* Rest of your existing styles */
  